<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.model.dao.MmUnitDataDao">

	<select id="selectAll" resultType="com.example.demo.model.bean.MmUnitData" parameterType="java.lang.String">
    	SELECT
			c_unit AS cUnit,
			SUM(c_count) AS cCount
		FROM
			mm_c_unit_data
		WHERE
			yy = #{date}
		GROUP BY cUnit
		ORDER BY cCount
	</select>


</mapper>